.h-hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.2)),url('https://t3.ftcdn.net/jpg/01/30/75/52/360_F_130755204_231S9dewFujFAYdENTY2C96Ce2d0jXEc.jpg');
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}