.main{
    background-image: url('https://st.depositphotos.com/1004573/2184/v/450/depositphotos_21846417-stock-illustration-abstract-network-blue-on-dark.jpg');
    width: 100%;
    height: 100%;
}
.popupHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}